/* ================================= 
  Base Element Styles
==================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.wrapper{
    width: 80%;
    margin: 0 auto;
  
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.main-header{
    background-color: rgba(232, 99, 78, 1);
}


/* ================================= 
 	Page Elements
==================================== */
.logo a{
    font-family: 'Pacifico', cursive;
    color: white;
}

/* ---- Navigation ---- */

.main-nav a{
    color: white;
    margin-right: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

.main-nav a:last-child{
    margin-right: 0;
}

.main-nav i{
    margin-right: 3px;
}
.banner-avatar{
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
}

.banner-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}

.banner-caption{
    position: absolute;
    bottom: 60px;
    font-family: 'Josefin Slab', serif;
    color: #e7624d;
    text-align: center;
}

.banner-heading{
    font-size: 4.5vw;
    margin-bottom: 20px;
}

.banner-subheading{
    font-size: 3vw;
}